Imports and Libraries

In [38]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

Load CSV

In [39]:
df = pd.read_csv("D:\dataset\\titanic\\train.csv")

In [40]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Drop Columns irrelevant to yielding results

In [41]:
df.drop(columns=['PassengerId','Name','Ticket','Cabin'],inplace=True)

In [42]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

MinmaxScaler to scale data between 0 and 1

In [43]:
scaler = MinMaxScaler()

We seperate the numeric columns to get them scaled

In [44]:
colscale = ['Pclass','Fare','Age','SibSp','Parch']

In [45]:
df[colscale] = scaler.fit_transform(df[colscale])

In [46]:
df.head()

   Survived  Pclass     Sex       Age  SibSp  Parch      Fare Embarked
0         0     1.0    male  0.271174  0.125    0.0  0.014151        S
1         1     0.0  female  0.472229  0.125    0.0  0.139136        C
2         1     1.0  female  0.321438  0.000    0.0  0.015469        S
3         1     0.0  female  0.434531  0.125    0.0  0.103644        S
4         0     1.0    male  0.434531  0.000    0.0  0.015713        S

Values in the "Embarked" column

In [47]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

Converting the  Gender column to numeric data

In [48]:
df['Sex'] = df['Sex'].replace({'male':0,'female':1})

In [49]:
df.head()

   Survived  Pclass  Sex       Age  SibSp  Parch      Fare Embarked
0         0     1.0    0  0.271174  0.125    0.0  0.014151        S
1         1     0.0    1  0.472229  0.125    0.0  0.139136        C
2         1     1.0    1  0.321438  0.000    0.0  0.015469        S
3         1     0.0    1  0.434531  0.125    0.0  0.103644        S
4         0     1.0    0  0.434531  0.000    0.0  0.015713        S

Check for null Values

In [50]:
df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

Fill missing values of Age with median

In [51]:
df['Age'] = df['Age'].fillna(df['Age'].median())

Drop rows with NULL values

In [52]:
df = df.dropna(subset=['Embarked'])

In [53]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

Convert "Embarked" column with categorical data to numeric data

In [54]:
df['Embarked'] = df['Embarked'].replace({'S':0,'C':1,'Q':2})

In [55]:
df.head()

   Survived  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0         0     1.0    0  0.271174  0.125    0.0  0.014151         0
1         1     0.0    1  0.472229  0.125    0.0  0.139136         1
2         1     1.0    1  0.321438  0.000    0.0  0.015469         0
3         1     0.0    1  0.434531  0.125    0.0  0.103644         0
4         0     1.0    0  0.434531  0.000    0.0  0.015713         0

In [56]:
df[['Embarked']] = scaler.fit_transform(df[['Embarked']])

In [57]:
df.head()

   Survived  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0         0     1.0    0  0.271174  0.125    0.0  0.014151       0.0
1         1     0.0    1  0.472229  0.125    0.0  0.139136       0.5
2         1     1.0    1  0.321438  0.000    0.0  0.015469       0.0
3         1     0.0    1  0.434531  0.125    0.0  0.103644       0.0
4         0     1.0    0  0.434531  0.000    0.0  0.015713       0.0

"Survived" is the target column

In [58]:
Y = df['Survived']
x = df.drop(columns='Survived')

In [59]:
x.head()

   Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0     1.0    0  0.271174  0.125    0.0  0.014151       0.0
1     0.0    1  0.472229  0.125    0.0  0.139136       0.5
2     1.0    1  0.321438  0.000    0.0  0.015469       0.0
3     0.0    1  0.434531  0.125    0.0  0.103644       0.0
4     1.0    0  0.434531  0.000    0.0  0.015713       0.0

Split data as training and test

In [60]:
x_train,x_test,y_train,y_test = train_test_split(x,Y,test_size=0.1)

XGBclassifier

In [61]:
xmodel = XGBClassifier(use_label_encoder=False, eval_metric='logloss')
xmodel.fit(x,Y)

c:\Python\Python39\lib\site-packages\xgboost\core.py:158: UserWarning: [18:47:32] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric='logloss',
              feature_types=None, gamma=None, grow_policy=None,
              importance_type=None, interaction_constraints=None,
              learning_rate=None, max_bin=None, max_cat_threshold=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, multi_strategy=None, n_estimators=None,
              n_jobs=None, num_parallel_tree=None, random_state=None, ...)

In [62]:
y_pred = xmodel.predict(x_test)

In [63]:
accuracy_score(y_test,y_pred)

0.9213483146067416

DecisionTree Classifier

In [64]:
tModel = DecisionTreeClassifier()
tModel.fit(x_train,y_train)
y_pred = tModel.predict(x_test)

In [65]:
accuracy_score(y_test,y_pred)

0.7640449438202247

RandomForest Classifier

In [66]:
rModel = RandomForestClassifier()
rModel.fit(x_train,y_train)
y_pred = rModel.predict(x_test)

In [67]:
accuracy_score(y_test,y_pred)

0.8202247191011236

Logistic Regression

In [68]:
lModel = LogisticRegression()
lModel.fit(x_train,y_train)
y_pred = lModel.predict(x_test)

In [69]:
accuracy_score(y_test,y_pred)

0.7752808988764045

SVC

In [70]:
sModel = SVC()
sModel.fit(x_train,y_train)
y_pred = sModel.predict(x_test)

In [71]:
accuracy_score(y_test,y_pred)

0.8202247191011236

Submisssion Data

In [97]:
test = pd.read_csv("D:\dataset\\titanic\\test.csv")
tID = test['PassengerId']
test.drop(columns=['PassengerId','Name','Ticket','Cabin'],inplace=True)
test['Sex'] = test['Sex'].replace({'male':0,'female':1})
test['Embarked'] = test['Embarked'].replace({'S':0,'C':1,'Q':2})
test['Age'] = test['Age'].fillna(test['Age'].median()) 
test['Fare'] = test['Fare'].fillna(test['Fare'].median())

In [98]:
test[colscale] = scaler.fit_transform(test[colscale])

In [99]:
test[['Embarked']] = scaler.fit_transform(test[['Embarked']])

In [100]:
test.head()

   Pclass  Sex       Age  SibSp     Parch      Fare  Embarked
0     1.0    0  0.452723  0.000  0.000000  0.015282       1.0
1     1.0    1  0.617566  0.125  0.000000  0.013663       0.0
2     0.5    0  0.815377  0.000  0.000000  0.018909       1.0
3     1.0    0  0.353818  0.000  0.000000  0.016908       0.0
4     1.0    1  0.287881  0.125  0.111111  0.023984       0.0

In [101]:
y_pred = xmodel.predict(test)

In [102]:
submitx = pd.concat((tID,pd.DataFrame(data=y_pred,columns=['Survived'])),axis=1)

In [103]:
submitx

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [104]:
submitx.to_csv('D:\dataset\\titanic\\submitx.csv',index=False)